@model Projekattt1.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeaveTypes)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
               
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id">
                    <i class="fas fa-pencil"></i>
                        Allocate to Employees
                    
                </a>
               
            </td>
        </tr>
}
    </tbody>
</table>
